In [11]:
import pandas as pd
import numpy as np

In [12]:
Jurkat_path = '../data/train_data/Jurkat_filtered.csv'

Jurkat_df = pd.read_csv(Jurkat_path)

In [13]:
Jurkat_df

      gene1_name gene2_name cell_line  label
0          AARS2       AATF    Jurkat      0
1          AARS2     ACTL6A    Jurkat      0
2          AARS2     ACTR10    Jurkat      0
3          AARS2      ADAT2    Jurkat      0
4          AARS2     AFG3L2    Jurkat      0
...          ...        ...       ...    ...
57286     ZNF598     ZNHIT6    Jurkat      0
57287     ZNF598      ZNRD1    Jurkat      0
57288     ZNF830     ZNHIT6    Jurkat      0
57289     ZNF830      ZNRD1    Jurkat      0
57290     ZNHIT6      ZNRD1    Jurkat      0

[57291 rows x 4 columns]

In [14]:
positive_samples = Jurkat_df[Jurkat_df['label'] == 1]
negative_samples = Jurkat_df[Jurkat_df['label'] == 0]

# Apply the 1/9 probability retention to negative samples
negative_samples_resampled = negative_samples.sample(frac=1/9, random_state=42)

# Concatenate the positive samples with the resampled negative samples
resampled_data = pd.concat([positive_samples, negative_samples_resampled])

# shuffle
resampled_data = resampled_data.sample(frac=1, random_state=42)

In [15]:
resampled_data

      gene1_name gene2_name cell_line  label
21390      EIF3M       PPCS    Jurkat      0
31060       LEO1     POLR3B    Jurkat      0
19988      EFR3A      MRPS5    Jurkat      0
19652      EEF1G       HUS1    Jurkat      0
19129    DYNC1H1       MED9    Jurkat      0
...          ...        ...       ...    ...
35860   MPHOSPH6       PSPH    Jurkat      0
5594      BOD1L1       USE1    Jurkat      0
55093      SAP18   SNRNP200    Jurkat      0
39803     MRPL46       RFC5    Jurkat      0
25793       FDPS       PPCS    Jurkat      0

[6628 rows x 4 columns]

In [16]:
# reindex
resampled_data = resampled_data.reset_index(drop=True)

resampled_data

     gene1_name gene2_name cell_line  label
0         EIF3M       PPCS    Jurkat      0
1          LEO1     POLR3B    Jurkat      0
2         EFR3A      MRPS5    Jurkat      0
3         EEF1G       HUS1    Jurkat      0
4       DYNC1H1       MED9    Jurkat      0
...         ...        ...       ...    ...
6623   MPHOSPH6       PSPH    Jurkat      0
6624     BOD1L1       USE1    Jurkat      0
6625      SAP18   SNRNP200    Jurkat      0
6626     MRPL46       RFC5    Jurkat      0
6627       FDPS       PPCS    Jurkat      0

[6628 rows x 4 columns]

In [17]:
# calculate the positive rate after the resample
positive_rate = resampled_data['label'].sum() / len(resampled_data)
positive_rate

0.04450814725407363

In [18]:
# good. save to csv
resampled_data.to_csv('../data/train_data/Jurkat_resampled.csv', index=False)